/* 노말 라이즈 */
body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}


/* 커스텀 */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #0A192F;
}
  .flex {
    display: flex;
  }
  .jc-c {
    justify-content: center;
  }
  .ta-c {
    text-align: center;
  }
  .height-100 {
    height: 100%;
  }

  /* img color */
  .HTML {
    color: #E65100;
  }
  .CSS {
    color: #039BE5;
  }
  .JS {
    color: #FFD600;
  }
  .Jquery {
    color: #039BE5;
  }
  .Tail {
    color: #00ACC1;
  }
  .Recoil {
    color: #08D9FD;
  }
  .Hook {
    color: #08D9FD;
  }
  .JAVA {
    color: #E65100;
  }
  .MYsql {
    color: #CA7F06;
  }
  .Sts {
    color: #BAE0BD;
  }
  

/* 메뉴 상단바 */
.menu-con > .menu-bar > .menu-box > div {
  flex-grow: 1;
}

.menu-con > .menu-bar > .menu-box > ul {
  margin-right: 100px;
}

.menu-con > .menu-bar > .menu-box > ul > li {
  color: #fff;
  width: 120px;
  height: 100px;
}

.menu-con > .menu-bar > .menu-box > ul > li > a {
  width: 100%;
  height: 100%;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.menu-con > .menu-bar > .menu-box > ul > li > a:active {
  color: #38E5F5; /* 클릭 시 색상 */
}

/* =========== 메인 페이지 ==========*/

/* 메인 이미지 박스 */
.main-con {
  position: relative;
}

.main-con > h1 {
  margin-top: 20%;
  color: #fff;
  font-size: 4rem;
  position: relative;
  z-index: 1;
}

.main-con > .img-con {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-45%, 40%);
}

.main-con > .img-con > img {
  width: 286px;
  height: 488px;
  z-index: 0;
}

.main-con > .img-con > .img-box > nav {
  position: absolute;
  bottom: -20px; /* Adjust this value to move the text up or down */
  left: 50%;
  transform: translate(-50%, -250%);
  color: white;
  font-size: 2rem;
}

.main-con > .img-con > .img-box > .scroll-tx {
  position: absolute;
  bottom: -20px; /* Adjust this value to move the text up or down */
  left: 50%;
  transform: translate(-50%, -150%);
  color: white;
  font-size: 1.5rem;
}

/* 요소가 서서히 나타나는 애니메이션 */
/* .hidden {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.show {
  opacity: 1;
} */

/* 요소가 서서히 사라지는 애니메이션 */
.visible {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.hidden {
  opacity: 0;
}

/* =========== 두번째 페이지 ==========*/

    /* about 자기소개 바 */
  .second-page > .about-con > .about {
      color: #87CEEB;
      padding-top: 100px;
  }

  .second-page .about-con > .myself > div {
      margin: 0 100px;
      margin-top: 30px;
      color: #fff;
  }
  .second-page .about-con > .myself > div > h1 {
      font-size: 1.5rem;
  }
  .second-page .about-con > .myself > div > span {
      font-size: 1.3rem;
  }

  /* archiving 바, 블로그 */

  .second-page > .archiving-con > div {
      color: #fff;
      font-weight: bold;
      font-size: 1.3rem;
      margin: 50px 0 40px 400px;
  }

  .second-page > .blog-con > .blog-bar {
    width: 1120px;
    height: 342px;
    border: 1px solid #fff;
  }

  .second-page > .blog-con > .blog-bar > div {
    width: 333px;
    height: 278px;
    border-radius: 23px;
    margin: 32px 16px 32px 16px;
    font-weight: bold;
    position: relative;
    transition: transform 0.3s, z-index 0.3s;
  }

  .second-page > .blog-con > .blog-bar > div:hover {
    transform: translateY(-10px);
    z-index: 10;
  }

  .second-page > .blog-con > .blog-bar > div:nth-child(1){
    background-color: #000;
    color: #fff;
  }
  .second-page > .blog-con > .blog-bar > div:nth-child(2){
    background-color: #353A40;
    color: #fff;
  }
  .second-page > .blog-con > .blog-bar > div:nth-child(3){
    background-color: #fff;
    color: #000;
  }
  .second-page > .blog-con > .blog-bar > div > img {
    margin-bottom: 30px;
  }
  .second-page > .blog-con > .blog-bar > .naver > img {
    margin-bottom: 18px;
  }

  .second-page > .blog-con > .blog-bar > div > div {
    margin-top: 40px;
  }


  .second-page > .blog-con > .blog-bar > div > div > span {
    display: block;
    text-align: left;
    margin: 13px;
  }

  /* =========== 세번째 페이지 ==========*/

  .third-page > .skill-font {
    padding-top: 70px;
  }


  .third-page > .skill-font > div {
    color: #87CEEB;
    font-weight: bold;
    font-size: 2rem;
  }

  .third-page > .skill-con > .font-box > div {
    color: #fff;
    font-size: 1.3rem;
    margin: 50px 225px 100px 225px;
  }

  .third-page > .skill-con > .skill-box {
    width: 1120px;
    height: 500px;
    border: 1px solid #fff;
    margin-left: 350px;
    align-items: flex-start;
    color: #38E5F5;
  }

  .third-page > .skill-con > .skill-box > img {
    margin: 10px;
    width: 100px; /* 이미지 크기에 따라 조절하세요 */
    height: auto; /* 이미지 비율 유지 */
}
.third-page > .skill-con > .skill-box > p {
    text-align: center;
}
.third-page > .skill-con > .skill-box > .divider {
    border-left: 2px solid black;
    height: 100%;
}

.third-page > .skill-con > .skill-box > .section-content {
  flex-wrap: wrap;
  justify-content: center;
}



.third-page > .skill-con > .skill-box > .left-section > .section-content,
.third-page > .skill-con > .skill-box > .right-section > .section-content {
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 5px; /* 여백 조절을 위해 추가 */
}

.third-page > .skill-con > .skill-box > .right-section > .section-content > div {
  margin: 20px;
}
.third-page > .skill-con > .skill-box > .left-section > .section-content > div {
  margin: 20px 0 20px 0;
}

.third-page > .skill-con > .skill-box > .left-section > .section-content > div,
.third-page > .skill-con > .skill-box > .right-section > .section-content > div {
    flex-basis: calc(25% - 20px); /* 20px는 margin 값의 합 */
}

.third-page > .skill-con > .skill-box > .left-section > .section-content > div img,
.third-page > .skill-con > .skill-box > .right-section > .section-content > div img {
    height: auto;
    margin: 3px; /* 이미지 사이의 간격을 조절하기 위해 추가 */

}


  
  



